<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBHOST" value="localhost" />
    <add key="PORT" value="3306" />
    <add key="DBNAME" value="codexsun_v7" />
    <add key="DBUSER" value="root" />
    <add key="DBPASS" value="Computer.1" />
  </appSettings>
</configuration>