PLATFORM_HOST=127.0.0.1
CRM_API_PORT=6204
CRM_WEB_ORIGIN=http://127.0.0.1:6205
CRM_API_REFERENCE_TOKEN=change-this-local-token
APP_MODE=development
AUTO_LOGIN=0
REFRESH_IDENTITY_SEED=0
IDENTITY_LOGIN_MAX_FAILURES=5
IDENTITY_LOGIN_WINDOW_SECONDS=900
IDENTITY_LOGIN_LOCKOUT_SECONDS=900
IDENTITY_PASSWORD_RESET_TOKEN_TTL_SECONDS=900
IDENTITY_EXPOSE_DEVELOPMENT_RESET_TOKEN=0
PLATFORM_JWT_SECRET=change-this-to-a-32-character-minimum-secret
SUPER_ADMIN_NAME=super-admin
SUPER_ADMIN_LOGIN=superadmin@superadmin.com
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_PASSWORD=change_pass
ADMIN_NAME=Admin
ADMIN_LOGIN=admin@changepass.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_pass
USER_NAME=User
USER_LOGIN=user@changepass.com
USER_USERNAME=user
USER_PASSWORD=change_pass
