PLATFORM_HOST=127.0.0.1
ZETRO_API_PORT=6130
ZETRO_DATABASE_URL=sqlite://zetro
ZETRO_DATABASE_PATH=../../../storage/apps/private/zetro/runtime/zetro.sqlite
ZETRO_STORAGE_ROOT=../../../storage/apps
ZETRO_ZUNO_API_URL=http://127.0.0.1:6410
ZETRO_ZUNO_CLIENT_KEY=change-this-zetro-client-key-with-32-characters
APP_MODE=development
AUTO_LOGIN=0
AUTO_LOGIN_DESK=user
PLATFORM_JWT_SECRET=change_this_to_a_32_character_minimum_secret
SUPER_ADMIN_NAME=super-admin
SUPER_ADMIN_LOGIN=superadmin@superadmin.com
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_PASSWORD=change_pass
ADMIN_NAME=Admin
ADMIN_LOGIN=admin@changepass.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_pass
