ZCODE_PROJECT_NAME=zcode-codex
ZCODE_EDITOR_PORT=6132
ZCODE_ZBROWSER_PORT=6133
ZCODE_PREVIEW_PORT_1=6140
ZCODE_PREVIEW_PORT_2=6141
ZCODE_PREVIEW_PORT_3=6142
ZCODE_PREVIEW_PORT_4=6143
ZCODE_PREVIEW_PORT_5=6144
ZCODE_PREVIEW_PORT_6=6145
ZCODE_PREVIEW_PORT_7=6146
ZCODE_PREVIEW_PORT_8=6147
ZCODE_PREVIEW_PORT_9=6148
