ZXA_AGENT_ID=00000000-0000-4000-8000-000000000001
ZXA_ZUNO_API_URL=http://host.docker.internal:6410
ZXA_ZUNO_BOOTSTRAP_KEY=change-this-zxa-bootstrap-key-with-32-characters
ZXA_CONTROL_KEY=change-this-zxa-control-key-with-32-characters
ZXA_PUBLIC_URL=http://host.docker.internal:7210
